@import 'tailwindcss';

:root {
  --bg-light-def: #f9f9f9;
  --bg-light-100: #f0f0f0;
  --bg-light-200: #e0e0e0;
  --bg-light-300: #d0d0d0;
  --bg-light-400: #c0c0c0;
  --bg-light-500: #b0b0b0;
  --bg-light-600: #a0a0a0;
}

body {
  background: var(--bg-light-def);
}
